* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  background: url(./img.png);
}

p {
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
}
.first {
  color: #f0f;
}
.second {
  color: red;
}

.third {
  color: rgb(66, 245, 221);
}

.fourth {
  color: hsl(0, 100%, 36%);
}

.fifth {
  color: hsl(307deg 14% 40% / 80%);
}
