* {
  box-sizing: border-box;
}

div {
  font-size: 20px;
  color: white;
  width: 100px;
  height: 100px;
}

.red {
  position: relative;
  top: 200px;
  left: 100px;
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  position: relative;
  bottom: 100px;
  left: 100px;
  background-color: blue;
}

.black {
  position: relative;
  bottom: 100px;
  background-color: black;
}
